* {
    box-sizing: border-box;
}

.toggle-side-menu {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 20;
    background-color: #fff;
    color: #666;
    text-align: center;
    border: none;
    width: 30%;
    padding: 8px;
    border-radius: 1%;
    font-size: 1em;
}

.fas.fa-bars {
    background-color: #fff;
    color: #666;
    text-align: center;
    padding-right: 5px;
}