* {
    box-sizing: border-box;
}

.toggle-side-menu {
    position: fixed;
    top: 75px;
    left: 10px;
    float: left;
    z-index: 20;
    background-color: #fff;
    color: #666;
    text-align: center;
    border: none;
    width: 40%;
    padding: 8px;
    border-radius: 1%;
    font-size: 1em;
    border: thin #666 solid;
}

.fas.fa-bars {
    background-color: #fff;
    color: #666;
    text-align: center;
    padding-right: 5px;
}

@media screen and (min-width: 800px) {
    .toggle-side-menu {
        top: 85px;
    }
}