* {
    box-sizing: border-box;
}

.info-window {
    color: black;
}

.map-store-image {
    width: 50px;
    height: 50px;
}

.map-store-details {
    float: right;
}

a.yelp-link {
    display: block;
    margin: 0 auto;
    text-align: right;
}

.yelp-logo {
    width: 45px;
    height: 45px;
}