* {
    box-sizing: border-box;
}

body {
    color: #fff;
}

header {
    font-size: 3.5vmax;
}

hr {
    height: 1px;
    color: #fff;
    border: none;
    background-color: #fff;
}

span {
    color: black;
}

input[type=search], select {
    width: 80%;
    padding: 1vmax 1.3vmax;
    margin: 10px auto 5px auto;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 2vmax;
}

select {
    max-width: 95%;
    padding: 10px;
}

.app-container {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: transparent;
}

header.main-title {
    color: #666;
    margin: 10px auto;
    text-align: center;
    z-index: 50;
    width: 100%;
}

.sidebar-section {
    height: 100%;
    width: 80vw;
    position: fixed;
    z-index: 10;
    top: 140px;
    left: 0;
    text-align: center;
    background-color: rgba(200, 200, 133, 0.5);
    overflow-x: hidden;
    padding-top: 40px;
    transition: 0.5s;
}

.sidebar-items {
    height: 100vh;
}

.filter-button {
    margin: 3px auto 5px auto;
    background-color: cadetblue;
    border: none;
    color: white;
    text-align: center;
    font-size: 4vw;
    border-radius: 2px;
    width: 50%;
}

.map-section {
    left: 0;
    position: absolute;
    height: 100vh;
    max-width: 100vh;
    z-index: -1;
}

.yelp-error {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(200, 200, 133, 0.5);
    text-align: center;
    border: none;
    font-size: 1em;
    z-index: 39;
    color: #fff;
    transform: translate(-50%, -50%);
    border-radius: 2px;
}

@media screen and (min-width: 401px) {
    .sidebar-section {
        width: 60vw;
        top: 80px;
        top: 140px;
    }
}

@media screen and (min-width: 630px) {
    .sidebar-section {
        width: 50vw;
        top: 140px;
    }
}

@media screen and (min-width: 800px) {
    .sidebar-section {
        width: 400px;
        top: 150px;
    }
}