* {
    box-sizing: border-box;
}

body {
    color: #fff;
}

header {
    font-size: 3.5vmax;
}

hr {
    height: 1px;
    color: #fff;
    border: none;
    background-color: #fff;
}

span {
    color: black;
}

input[type=search], select {
    width: 80%;
    padding: 1vmax 1.3vmax;
    margin: 10px auto 5px auto;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 2vmax;
}

select {
    max-width: 95%;
    padding: 10px;
}

.app-container {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: transparent;
}

.sidebar-section {
    height: 100%;
    width: 80vw;
    position: fixed;
    z-index: 10;
    top: 40px;
    left: 0;
    text-align: center;
    background-color: rgba(200, 200, 133, 0.5);
    overflow-x: hidden;
    padding-top: 40px;
    transition: 0.5s;
}

.sidebar-items {
    height: 100vh;
}

.filter-button {
    margin: 3px auto 5px auto;
    background-color: cadetblue;
    border: none;
    color: white;
    text-align: center;
    font-size: 4vw;
    border-radius: 2px;
    width: 50%;
}

.map-section {
    left: 0;
    position: absolute;
    height: 100vh;
    max-width: 100vh;
    z-index: -1;
}







/* .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
} */

/* .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
} */

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}